
th,td,tr,h4{
    text-align:center;
}
.card-head {
    font-size: smaller;
    font-weight:700;
}
.card-content {
    font-weight: bolder;
}
.card {
    cursor: pointer;
    /* box-shadow: rgba(0, 71, 21, 0.638) 0px 2px 4px 0px, rgba(0, 71, 21, 0.655) 0px 2px 16px 0px; */
}
#reportlink {
    transition: all 0.2s linear;
}
.buttontext {
    transition: all 1s linear;
}
.buttontext1 {
    transition: all 1s linear;
    display: none;
}